<!DOCTYPE html>
<html>
<head>
	<title> </title>
</head>
<body>
<script type="text/javascript">
	alert("Hello World");
function sayHi(){
	if(argument.length==1){
		alert(argument[0]+10);
	}
	else
		alert(argument[0]+argument[1]);
}
sayHi(10);
sayHi(10,20);	
</script>

</body>
</html>