<html>
<head>
	<title></title>
</head>
<body>
	<script type="text/javascript">
		var melons=["Super Melon","Water Melon","Hkoney Melon"];
		var apples=new Array("Apple Fuji","Gala Apple","Washinton Apple");
		var other=["Pakhan Pear","Black Grape Seedless","Dragon Fruits"];
		var fruits=melons.concat(apples,other);
		var rand=Math.floor(Math.random()*fruits.length+0);
		alert(fruits[rand]);
	</script>
</body>
</html>