<!DOCTYPE html>
<html>
<head>
	<title> </title>
</head>
<body>
<script type="text/javascript">
	var fruits=[];
	 fruits[0]="Apple";
	 fruits[1]="Banana";
	 fruits[2]="Orange";
	 document.write(fruits);
	 document.write("<br>");
	 document.write(fruits.length);
	 document.write("<br>");
	 document.write(fruits.join("*"));
	 document.write("<br>");
	 var f=fruits.push("Coconut","Watermelon");
	 document.write(f);
document.write(fruits);
document.write("<br>");
var item=fruits.pop();
document.write(item);
document.write("<br>");
document.write(fruits.toString());
document.write("<br>");
document.write("<br>");
var person=new Object();
person.name="Han Me Me Saw";
person.age=20;
person.job="Student";
document.write("Name :"+person.name);
document.write("<br>");
document.write("Age :"+person.age);
document.write("<br>");
document.write("Job :s"+person.job);
</script>
</body>
</html>