<html>
<head>
	<title>Frame Example</title>
	<frameset rows="160,*">
		<frame src="3.html" name="f1">
			<frame src="2.html"></frame>
		</frame>
	</frameset>
</head>
<body>
	<script type="text/javascript">
		/*var fruit=["apple","orange","banana"];
		var fruit1=fruit.concat("watermelon","grape");
		alert(fruit1);
		var f3=fruit1.slice(2,2);
		alert(fruit);
		alert(fruit1);
		alert(f3);*/
	</script>
</body>
</html>