<html>
<head></head>
<body>
	<script type="text/javascript">
		var f1=new Array("Lily","Carnation","Orchid","Tulips");
		var f2=["Rose","Jasmine","Tuberose","Lavender"];
		var flowers=f1.concat(f2);
flowers.unshift("Calla Lily","Casablance Lily");
flowers.splice(5,0,"Daisy","Lotus Flower","Rose Mary");
alert(flowers);
	</script>
</body>
</html>