<html>
<head></head>
<body>
	<script type="text/javascript">
		var fruits=["Apple","Orange","Pipe Apple","Water Melon","Grape","Rose","Jasmine","Lily","Orchid"];
		var flowers=fruits.splice(5,4);
		alert(fruits);
		alert(flowers);
		fruits.unshift("Super Melon","Honey Melon");
		alert(fruits);
		var f1=flowers.concat("Tuberose","Lavender");
		alert(f1);
	</script>
</body>
</html>