<html>
<head>
	<title></title>
</head>
<body>
	<script type="text/javascript">
		var st="Hello World";
		var st1=new String("Welcome to Pyay");
		document.write(st.length);
		 document.write("<br>");
		  document.write(st.charAt(4));
		   document.write("<br>");
		    document.write(st.charCodeAt(1));
		     document.write("<br>");
		      document.write(st.slice(3,-4));
		       document.write("<br>");
		        document.write(st1.slice(3,-4));
		       document.write("<br>");
		      document.write(st1.substring(3,-4));
		     document.write("<br>");
		    document.write(st1[2]);
		   document.write("<br>");
		  document.write(st.substr(3));
		 document.write("<br>");
		  document.write(st1.indexOf("o",6));
		   document.write("<br>");
		    document.write(st1.lastIndexOf("o",6));
		     alert(st1.slice(3));
		      alert(st1.substring(3));
		       alert(st1.substr(3));
		        alert(st1.toLowerCase());
		         alert(st1.toUpperCase());
		          alert(Math.ceil(25.9));
		           alert(Math.ceil(25.5));
		            alert(Math.ceil(25.1));
		           alert(Math.round(25.9));
		          alert(Math.round(25.5));
		         alert(Math.round(25.1));
		        alert(Math.floor(25.9));
		       alert(Math.floor(25.5));
		      alert(Math.floor(25.1));
		      

	</script>
</body>
</html>